.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
  .media {
    display: flex;
    align-items: flex-end;
    height: 35px;
    .authorWrapper {
      padding: 0 10px;
    }
  }
  .content {
    margin-top: 20px;
  }
}
